# Workflow data
/data/*
!/data/.gitkeep
/.snakemake/
/.apptainer/
/.snakemake-apptainer/
*.sif

# Local software and caches
.env/
.venv/
.mamba/
.conda/
__pycache__/
*.pyc

# Local session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.DS_Store
